In [204]:
import pandas as pd

In [205]:
data =['abc', 'def', 'jkf']
df = pd.DataFrame(data =data, columns = ['col'])

In [207]:
def first_last_string(df):
    results = []
    for col in df.columns:
        for k in range(len(df[col])):
            fc = df[col][k][0]
            ls = df[col][k][-1]
            results.append(fc+ls)
            
        return results

In [208]:
df['newcol'] = first_last_string(df)

In [209]:
df

   col newcol
0  abc     ac
1  def     df
2  jkf     jf